.eyes-and-ears
{
    height: 3.5%; 
    width: 100%;
    margin-top: 15%;
    position: relative;
    display: inline-block
}
.eye
{
    position: relative;
    z-index: 4;
    background-color: #3e3e3f;
    margin-top: 3%;
    vertical-align: top; 
    width: 3.5%; 
    height: 50%; 
    border-radius: 50%;
    display: inline-block;
    -webkit-animation: blink-eyes 10s infinite; 
    animation: blink-eyes 10s infinite;
}
@-webkit-keyframes blink-eyes {
  0%   { height: 50%; }
  98%   { height: 50%; }
  100% { height: 0%; }
}
@-moz-keyframes blink-eyes {
  0%   { height: 50%; }
  98%   { height: 50%; }
  100% { height: 0%; }
}
@-o-keyframes blink-eyes {
  0%   { height: 50%; }
  98%   { height: 50%; }
  100% { height: 0%; }
}
@keyframes blink-eyes {
  0%   { height: 50%; }
  98%   { height: 50%; }
  100% { height: 0%; }
}
.sweat
{
    margin-top: 15%;
    width: 3%;
    display: inline-block;
    vertical-align: top;
    padding-right: 15%;
}
.eye-left
{
    margin-right: 15%; 
    margin-left: 5%;     
}
.eye-right
{
    margin-right: 5%;
}
.ear 
{
    background-color: #ffcd8a;
    width: 12%;
    height: 170%;
    border-radius: 50%;
    display: inline-block;
}
.ear .inner
{
    position: relative; 
    background-color: #febd72; 
    margin: 20% 0px 0px 25%; 
    width: 60%; 
    height: 60%; 
    border-radius: 50%;
}
.nose-and-below
{
    overflow: hidden;
    margin-top: -26%;
    height: 52%
}
.face
{
    position: relative;
    background-color: #ffcd8a;
    width: 41%;
    height: 30%;
    margin-top: -35%;
    border-radius: 48% / 33%;
    overflow: auto;
    z-index: 3;
    display: inline-block;
}
.hairWrapper
{
    overflow: hidden;
    height: 65%
}
.hair
{
    width: 309%;
    margin-top: -25%;
    margin-left: -104%;
    height: 100%
}
.hair div {
    width: 35%;
    background-color: rgba(0,0,0,0.1);
    height: 100%;
    border-radius: 50%;
    display: inline-block;
}
.hair .left
{
    margin-right: 2%;
}
.nose-and-below
{
    overflow: hidden;
    margin-top: -26%;
    height: 52%;
}
.beard
{
    background-color: #ffcd8a;
    height: 30%;
    margin-bottom: -10%;
    width: 100%;
    display: inline-block;
}
.beard-border
{
    background-color: rgb(255, 205, 138);
    border-radius: 30%;
    transform: rotate(20deg);
    height: 30%;
    margin-top: 5%;
    margin-bottom: -10%;
    width: 40%;
    display: inline-block;
}
.left-beard
{
    transform: rotate(-20deg);
}
.right-beard
{
    transform: rotate(20deg);
}
.nose
{
    background-color: rgb(255, 205, 138);
    width: 15%;
    margin-bottom: -10%;
    height: 20%;
    border-radius: 50%;
    display: inline-block;
}
.mouth-and-mole
{
    background-color: rgba(0, 0, 0, 0.0980392);
    height: 30%;
    overflow: hidden;
}
.earing
{
    margin-top: 12%;
    margin-left: 10%;
    margin-right: 3%;
    vertical-align: top;
    width: 20%;
    height: 20%;
    border-radius: 50%;
    background-color: rgb(160, 160, 160);
    display: inline-block;
}
.mole
{
    margin-top: 17%;
    margin-left: -5%;
    margin-right: 3%;
    vertical-align: top;
    width: 4%;
    height: 20%;
    border-radius: 50%;
    background-color: rgb(160, 160, 160);
    display: inline-block;
}
.mouth
{
    margin-top: 10%;
    width: 25%;
    height: 100%;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
}
.beard-rest
{
    background-color: rgba(0, 0, 0, 0.0980392);
    height: 48%;
    overflow: hidden;
}