html, body
{    
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}
body {
  background: #3b4163;
  font-family: AllerDisplay;
    
    /* disable selection */
   -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 

    display: flex;
    justify-content: center;
    align-items: center;
}
#root
{
      margin: auto;
      width: 86%;
      padding: 1%; 
}
@media (max-width: 685px) {
  #root
  {
      margin: auto;
      width: 95%;
      padding: 2%; 
  }
}